:host {
    padding: 2rem;
    
    .app-title {
        font-size: 2rem;
        font-weight: 500;
        margin: 0 auto;
        padding: 2rem;
        white-space: pre-line;
    }
    
    .app-main {
        padding: 2rem;
    }
}